{
    "timeout": 300,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "framework": "codeception",
    "codeception": {

    }
}